<div class="container dashboard">
    <div class="body_container">
    <div class="ui stackable middle aligned center aligned grid" id="dashboardGrid">
        <div class="row">
            <div class="four wide column"></div>
            <div class="center aligned eight wide column">
                <p id="header">DEVELOPER.</p>
            </div>
            <div class="four wide column"></div>
        </div>
        <div class="row" id="buttonRow">
            <div class="ui menu secondary">
                <a class="item">RESUME</a>
                <a class="item" href="<%= contacts_path %>">CONTACT</a>
            </div>
        </row>
    </div>
    </div>
</div>