// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#aboutGrid {
    padding-top: 10rem !important;
}
#mobileAboutGrid { /* mobile view */
  padding-top: 10rem !important;

  #mobileImage {
    padding-bottom: 5rem;
  }
  .ui.list {
    #experienceDivider {
      padding-top: 4rem;
    }
  }
  .about.header {
    letter-spacing: 2px;
 //   font-size: 4em;
    padding-bottom: 2rem;
  }
/*  .ui.horizontal.divider.header {
    font-size: 1.5em;
  }*/
}
.about.header {
    letter-spacing: 2px;
    margin-bottom: 1em !important;
    margin-top: 0 !important;
}
#contentColumn {
  padding-left: 2em;
}
/* Mobile */

@media only screen and (max-width: 1000px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}
#pusherContent {
  border: none !important;
  background: none !important;

}
