// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container.dashboard {
    background: url(image-path('workdesk.jpg'));
    background-size:cover;
    height: 100%;
    width: 100%;
    .body_container {
        height: 100%;
        width: 100%;
        background: radial-gradient(#40404b, #111118) rgba(34,34,40,0.94);
        background: -webkit-radial-gradient(#40404b, #111118) rgba(34,34,40,0.94);
        opacity: 0.8;
    }
    #dashboardGrid {
        padding-top: 13rem !important;
        margin-top: 0 !important;
    }
    #mobileDash {
        height: 100%;
    }
    #mainSegment{
       background: none !important;
    }
    #buttonRow {
        .item {
            border-color: white;
            border: solid;
            color: white;
            font-size: 13px;
            letter-spacing: 2px;
            border-radius: 0 !important;
        }
    }
    #dashSidebar{
        padding-top: 9.5em;
        background: black !important;

        #sidebarDivider{
            margin: 0 !important;
        }
    }
    #header {
        font-size: 5.5rem;
        color: white;
        letter-spacing: 2px;
        font-weight: bold;
    }
    @media (max-width: 500px) {
        #header {
            font-size: 3rem;
        }
    }
}

#navbar {
    .item {
        color: white;
        font-size: 13px;
        letter-spacing: 2px;
        margin: 2em 0.75em 0.75em 0.75em;
    }
    #contact {
        border-color: white;
        border: solid;
        margin-right: 1em;
    }
}

#aboutNavbar {
    .item {
        color: black;
        font-size: 13px;
        letter-spacing: 2px;
        margin: 2em 0.75em 0.75em 0.75em;
    }
    #contact {
        border-color: black;
        border: solid;
        margin-right: 1em;
    }
}