<div class="ui top fixed stackable menu inverted">
    <div class="ui simple dropdown item">
      Games<i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="google.com">Who am i?</a>
        <a class="item" href="google.com">What am i? </a>
      </div>
    </div>
</div>