<div class="ui top fixed stackable menu secondary" id="navbar">
  <div class="right menu">
  <a class="border item">HOME</a>
  <a class="item">ABOUT</a>
  <a class="item">RESUME</a>
  <a class="item" id="about">CONTACT</a>
  </div>
</div>