<div class="ui top fixed stackable menu secondary" id="navbar">
  <a class="item">test</a>
  <div class="right menu">
    <a class="border item" href="<%= dashboard_index_path %>">HOME</a>
    <a class="item" href="<%= about_index_path %>">ABOUT</a>
    <a class="item">RESUME</a>
    <a class="item" id="contact">CONTACT</a>
  </div>

</div>